<head>
    <title>Anime Watch List</title>
</head>

<body id="indiv_anime_body" class=" light dark">
    <nav class="navbar">
            <a href="/list">Back</a>
    </nav>
    <div id="anime_background" style="background-image: url('<%=anime.anime_background_url %>');">
    </div>


    <div id="indiv_anime_container">
        <div id="Anime_Picture">
            <img alt="Anime Image" src=<%=anime.ANI_pic %>>
            <!--db anime_url-->
            <div id="Anime_Title">
                <!--db anime_title-->
                <%= anime.ANI_title %>
                <button id="dark_light_button">Toggle Dark Mode
                </button>
            </div>
        </div>
        <div id="Anime_alias">
            <h3><%= anime.ANI_desc %></h3>
                <!--db anime_desc-->


                <div id="Anime_desc">
                    <%= anime.anime_full_desc %>
                        <!--db anime_full_desc-->
                </div>
        </div>
</body>
