<head>
    <title>AWA List</title>
</head>

<%
const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
let now = new Date();
let yyyy = now.getFullYear();
let mm = now.getMonth();
let dd = now.getDate();
if (dd < 10){ dd='0'+dd }
let today = months[mm]+" "+dd+", "+yyyy;
%>

<body class="anime-list">
 <nav class="navbar">
     <div class="seachbar">
         <a href="/" class="icon" title="Homepage"></a>
         <p>AWA</p>
     </div>
     <div class="account-bar">
         <a href="/add" class="add-btn" title="Add anime"></a>
         <a href="/logout" class="acct" title="Log Out">Log Out</a>
     </div>
 </nav>
<section class="animes">
    <div class="anime-header">
        <h2>Animes</h2>
        <h2><%= today %></h2>
    </div>
    <div class="anime-overview">
        <h1>0</h1>
        <h1>0</h1>
        <h1><%= userAnimes.length %></h1>
        <p></p>
        <p>In Progress</p>
        <p>Completed</p>
        <p>Total Shows</p>
    </div>
        <div class="anime-cards">
            <div class="list-view">
                <% for (let anime of userAnimes) { %>
                <div class="anime-card">
                    <img src=<%= anime.ANI_pic %> >
                    <div class="anime-desc">
                        <div class="anime-desc-header">
<!--                            make date dynamic as well -->
                            <p class="date"> <%= anime.date_Added %></p>
                            <a href=<%= "/listing/" + anime.ANI_ID %>></a>
                        </div>
                        <h3 class="anime-title"><%= anime.ANI_title %></h3>
                        <p><%= anime.ANI_desc %></p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
</section>
</body>

