<head>
    <title>Anime Watch List</title>
</head>

<body id="indiv_anime_body" class="lightmode darkmode">
    <div id="anime_background" style="background-image: url('<%=anime.anime_background_url %>');">
    </div>


    <div id="indiv_anime_container">
        <div id="Anime_Picture">
            <img alt="Anime Image" src=<%=anime.ANI_pic %>>
            <!--db anime_url-->
            <div id="Anime_Title" class="lightmode darkmode">
                <!--db anime_title-->
                <%= anime.ANI_title %>
                    
            </div>
        </div>
        <div id="Anime_alias" class="lightmode darkmode">
            <%= anime.ANI_desc %>
                <!--db anime_desc-->


                <div id="Anime_desc" class="lightmode darkmode">
                    <%= anime.anime_full_desc %>
                        <!--db anime_full_desc-->
                </div>
                <button id="btnAdd_to_list" class="button" style="vertical-align:middle"><span>add to list
                </span></button>
        </div>
</body>